@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;800&display=swap");

body {
  background-color: #f8fafb;
}

h1,
h2,
h3,
h4,
h5,
.ui.header,
.header.item {
  font-family: "Roboto Slab", serif;
}

p,
b,
blockquote,
i,
li,
input,
label,
textarea,
.ui.menu,
td,
th {
  font-family: "Open Sans", sans-serif;
}

.ui.segment {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.ui.header.fade {
  font-weight: 400;
  color: #778ca2;
}

.ui.text.menu {
  .item a {
    font-weight: normal;
    color: #778ca2;
  }
  .item.active a {
    font-weight: bold;
    color: #4d7cfe;
  }
}

.main-navbar.ui.menu {
  box-shadow: none;
  border-radius: 0;
  .header.item .ui.header {
    font-weight: normal;
  }
  .item.active {
    background: none !important;
    border-radius: 0 !important;
    border-bottom: 3px solid #4d7cfe;
    padding-bottom: 10px;
    // font-weight: bold;
    color: #4d7cfe;
  }
  .item {
    color: #778ca2;
  }
  .item:before {
    display: none;
  }
  .item:hover {
    background: none !important;
  }
}

.ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless)
  > .container
  > .item:not(.right):not(.borderless):first-child {
  border-left: none;
}

.ui.table td.negative {
  background: none !important;
  color: red !important;
}

.ui.table td.positive {
  background: none !important;
  color: blue !important;
}

span.fade {
  color: #888888;
}

#d3-30-days {
  width: 336px;
  height: 192px;
  background-image: linear-gradient(-90deg, #0d54f3, #517bea);
  border-radius: 15px;
  h3 {
    color: white;
  }
  p {
    font-size: 3em;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 15px;
    bottom: 15px;
  }
  svg {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .line {
      fill: none;
      stroke: rgb(191, 202, 228);
      stroke-width: 5;
    }
  }
}

#d3-top-categories {
  height: 192px;
  svg {
    width: 100%;
  }
}

#month-table {
  th {
    h2 {
      display: inline;
    }
  }
  td {
    height: 100px;
    vertical-align: top;
  }
  td.today {
    background-color: rgb(184, 234, 255);
  }
  td.day:hover {
    background-color: #e8e8e8;
    cursor: pointer;
  }
}

.blue {
  color: #247ba0;
}

.red {
  color: #ff1654;
}

#week-table {
  th {
    .sub {
      font-weight: normal;
    }
  }
  th.today {
    background-image: linear-gradient(
      rgba(184, 234, 255, 0),
      rgba(184, 234, 255, 0.1),
      rgba(184, 234, 255, 1)
    );
  }
  .index {
    font-family: monospace;
    font-size: 0.9em;
    color: #555555;
  }
  .weekend {
    background-color: #eeeeee;
  }
}
